<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>天天生鲜-首页</title>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/js/slide.js"></script>
</head>
<body>
<div class="header_con">
    <div class="header">
        <div class="welcome fl">欢迎来到天天生鲜!</div>
        <div class="fr">
            {{if compare .userName ""}}
                <div class="login_btn fl">
                    <a href="/login">登录</a>
                    <span>|</span>
                    <a href="/register">注册</a>
                </div>
            {{else}}
                <div class="login_btn fl">
                    欢迎您：<em>{{.userName}}</em>
                    <span>|</span>
                    <a href="/user/logout">退出</a>
                </div>
            {{end}}
            <div class="user_link fl">
                <span>|</span>
                <a href="/user/userCenterInfo">用户中心</a>
                <span>|</span>
                <a href="/user/cart">我的购物车</a>
                <span>|</span>
                <a href="/user/userCenterSite">我的订单</a>
            </div>
        </div>
    </div>
</div>
<div class="search_bar clearfix">
    <a href="/" class="logo fl"><img src="/static/images/logo.png"></a>
    <div class="search_con fl">
        <form action="/goodsSearch" method="post">
            <input type="text" class="input_text fl" name="goodsName" placeholder="搜索商品">
            <input type="submit" class="input_btn fr" name="" value="搜索">
        </form>
    </div>
    <div class="guest_cart fr">
        <a href="/user/cart" class="cart_name fl">我的购物车</a>
        <div class="goods_count fl" id="show_count">{{.cartCount}}</div>
    </div>
</div>
<div class="navbar_con">
    <div class="navbar clearfix">
        <div class="subnav_con fl">
            <h1>全部商品分类</h1>
            <span></span>

            <ul class="subnav">
                {{range .types}}
                    <li><a href="/goodsList/?typeId={{.Id}}" class="{{.Logo}}">{{.Name}}</a></li>
                {{end}}
            </ul>

        </div>
        <ul class="navlist fl">
            <li><a href="">首页</a></li>
            <li class="interval">|</li>
            <li><a href="">手机生鲜</a></li>
            <li class="interval">|</li>
            <li><a href="">抽奖</a></li>
        </ul>
    </div>
</div>
{{.LayoutContent}}<!--------需要展示其他页面不同的地方---------->

<div class="footer">
    <div class="foot_link">
        <a href="#">关于我们</a>
        <span>|</span>
        <a href="#">联系我们</a>
        <span>|</span>
        <a href="#">招聘人才</a>
        <span>|</span>
        <a href="#">友情链接</a>
    </div>
    <p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
    <p>电话：010-****888    京ICP备*******8号</p>
</div>
<div class="add_jump"></div>

<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>

<script type="text/javascript">
    UpdateGoodsPrice()
    function UpdateGoodsPrice() {
        //获取单价和数量
        price = $('.show_pirze').children('em').text()
        count = $('.num_show').val()

        price = parseFloat(price)
        count = parseInt(count)
        total = price * count
        //把总价更新
        $('.total').children('em').text(total.toFixed(2)+'元')
    }
    //添加商品数量
    $('.add').click(function(){
        count = $('.num_show').val()

        count  = parseInt(count) + 1
        //展示数量
        $('.num_show').val(count)
        //更新总价
        UpdateGoodsPrice()
    })

    //减少商品数量
    $('.minus').click(function(){
        count = $('.num_show').val()

        count  = parseInt(count) - 1
        if (count < 1){
            count = 1
        }
        //展示数量
        $('.num_show').val(count)
        //更新总价
        UpdateGoodsPrice()
    })
    //手动输入商品的数量
    $('.num_show').blur(function () {
        //拿到输入框的内容
        count=$(this).val()
        //对数据进行校验
        if(isNaN(count) || count.trim().length == 0 || parseInt(count) < 1){
            count = 1
        }
        //在页面显示
        $(this).val(count)
        //更新总价
        UpdateGoodsPrice
    })



    var $add_x = $('#add_cart').offset().top;
    var $add_y = $('#add_cart').offset().left;

    var $to_x = $('#show_count').offset().top;
    var $to_y = $('#show_count').offset().left;

    $(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
    $('#add_cart').click(function(){
        skuid = $('#add_cart').attr('skuid')
        count = $('.num_show').val()

        param = {"skuid":skuid,"count":count}
        $.post('/user/addCart',param,function (data) {
            if(data.code == 5) {

                $(".add_jump").stop().animate({
                        'left': $to_y+7,
                        'top': $to_x+7},
                    "fast", function() {
                        $(".add_jump").fadeOut('fast',function(){
                            $('#show_count').html(data.cartCount);
                        });


                    });
            }else{
                alert(data.errmsg)
            }
        })
    })
</script>

</body>
</html>